@model IEnumerable<string>
<div class="d-flex">
    @foreach (var image in Model)
    {
        <img style="width:7vmin;height:7vmin" st class="Image_mota " src="~/Image/SanPham/@image" />
    }
</div>
